@import "../utils/Fonts.css";
@import "../utils/FontSizeVariables.css";
@import "../utils/ColorVariables.css";
@import "../styles/headers/DefaultHeader.css";
@import "../styles/tabs/defaultTab/DefaultTab.css";
@import "../styles/tabs/betsListTabs/BetsListTabs.css";
@import "../styles/headers/gameInfoHeader/GameInfoheader.css";
@import "../styles/lists/gameInfoList/GameInfoList.css";
@import "../styles/gameInfo/GameInfo.css";
@import "../styles/footer/defaultFooter/DefaultFooter.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Inter Tight', sans-serif;
  background-color: rgba(var(--bg-dark-1));
  padding: 0;
}

html,
body,
#root {
  min-height: 100vh;
}

.game-layout {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.text-body-small-semibold {
  font-size: var(--body-small);
  font-weight: 600;
  line-height: 15px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.icon [data-name="fill"] {
    fill: var(--icon-color, currentColor) !important;
    transition: 300ms ease-out;
}

.icon [data-name="stroke"] {
    stroke: var(--icon-color, currentColor) !important;
    transition: 300ms ease-out;
}