@import "../../utils/ColorVariables.css";
@import "../../utils/FontSizeVariables.css";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 10;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 5px 0;
}

.header__balance-label {
  font-size: var(--body-small);
  font-weight: 600;
  line-height: 15px;
  color: rgba(var(--text-grey));
}

.header__balance-value {
  font-size: var(--body);
  font-weight: 700;
  color: rgba(var(--text-white));
  line-height: 17px;
}

.header__menu-button {
  padding: 9px;
  border-radius: 100px;
  border: 1px solid rgba(var(--bg-dark-2));
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(var(--bg-dark-2));
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
}

.header__menu-button:hover {
  border-color: rgba(var(--border-white));
}