@import "../../../utils/ColorVariables.css";
@import "../../../utils/FontSizeVariables.css";

.bar-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bar-info-bet {
  font-size: var(--body-compact);
  line-height: 16px;
  font-weight: 700;
  color: rgba(var(--text-white));
}

.bar-info-percentage {
  font-size: var(--body-compact);
  line-height: 15px;
  font-weight: 400;
  color: rgba(var(--text-white));
}

.bar-container {
  width: 100%;
  height: 6px;
  background-color: rgba(var(--bg-dark-2));
  border-radius: 100px;
  margin-top: 8px;
}

.bar {
  height: 6px;
  border-radius: 3px;
  background: linear-gradient(to right, #6724DD, #985EFF);
}