@import "../../../utils/ColorVariables.css";

.game-header {
  padding: 8px;
  background-color: rgba(var(--bg-dark-2));
  border-radius: 12px;
}

.game-header-track {
  display: flex;
  gap: 4px;
  width: max-content;
  animation: marquee-scroll 70s linear infinite;
}

@keyframes marquee-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}