:root {
  --bg-dark-1: 21, 20, 25, 1;
  --bg-dark-2: 29, 28, 35, 1;
  --bg-dark-3: 45, 44, 53, 1;
  --text-grey: 126, 124, 141, 1;
  --text-white: 255, 255, 255, 1;
  --text-subtitle: 242, 242, 242, 1;
  --text-my-bet: 255, 188, 18, 1;
  --text-disabled: 101, 99, 114, 1;
  --text-secondary: 242, 242, 242, 0.6;
  --border-white: 255, 255, 255, 1;
  --green-gradient-start: 38, 166, 60, 1;
  --green-gradient-end: 0, 144, 24, 1;
  --my-win-gradient-start: 0, 100, 17, 0.775;
  --my-win-gradient-end: 30, 131, 47, 0.792;
  --winner-gradient-start: 0, 100, 17, 0.461;
  --winner-gradient-end: 30, 131, 33, 0.291;
  --line: 255, 255, 255, 0.1;
  --stroke-default: 242, 242, 242, 0.2;
  --separator-color: rgba(255, 255, 255, 0.1);
  --icon-green: 81, 207, 62, 1;
  --icon-white: 255, 255, 255, 1;
  --icon-grey: 126, 124, 141, 1;
  --stat-low-border: 74, 71, 83, 1;
  --stat-low-bg: 74, 71, 83, 0.2;
  --stat-medium-border: 145, 177, 197, 1;
  --stat-medium-bg: 145, 177, 197, 0.2;
  --stat-high-border: 61, 180, 224, 1;
  --stat-high-bg:61, 180, 224, 0.2;
  --stat-very-high-border: 242, 213, 81, 1;
  --stat-very-high-bg: 242, 213, 81, 0.4;
  --stat-ultra-border: 134, 189, 52, 1;
  --stat-ultra-bg: 134, 189, 52, 0.4;
  --scrollbar-light: 152, 94, 255, 1;
  --scrollbar-dark: 103, 36, 221, 1;
  --purple-background-light: 152, 94, 255, 1;
  --purple-background-dark: 103, 36, 221, 1;
  --button-grey: 45, 44, 53, 1;
  --button-grey-2: 58, 57, 67, 1;
  --switch-active: 81, 207, 62, 1;
  --green: 81, 207, 62, 1;
  --orange-gradient-start: 217, 90, 0, 1;
  --orange-gradient-end: 255, 133, 47, 1;
  --orange-gradient-hover-start: 255, 133, 47, 1;
  --orange-gradient-hover-end: 217, 90, 0, 1;
  --active-grey: 45, 44, 53, 1;
  --bet-place-cashout-left: 217, 90, 0, 1;
  --bet-place-cashout-right: 255, 133, 47, 1;
  --bet-place-cancel-left: 226, 43, 46, 1;
  --bet-place-cancel-right: 255, 93, 95, 1;
  --bet-place-free-bet-left: 152, 94, 255, 1;
  --bet-place-free-bet-right: 103, 36, 221, 1;
  --red-overlay-gradient-start: 224, 29, 43, 0.1;
  --red-overlay-gradient-end: 224, 29, 43, 0.4;
  --red-lose-text: 224, 29, 43, 1;
  --green-dark: 26, 108, 21, 1;
}