@font-face {
  font-family: 'Inter Tight';
  src: url('/fonts/inter-tights/InterTight-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter Tight';
  src: url('/fonts/inter-tights/InterTight-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter Tight';
  src: url('/fonts/inter-tights/InterTight-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter Tight';
  src: url('/fonts/inter-tights/InterTight-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter Tight';
  src: url('/fonts/inter-tights/InterTight-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter Tight';
  src: url('/fonts/inter-tights/InterTight-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Galada';
  src: url('/fonts/galada/Galada-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Luckiest Guy';
  src: url('/fonts/luckiest-guy/LuckiestGuy-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}