@import "../../utils/ColorVariables.css";

.change-quantity {
  padding: 12px;
  background-color: rgba(var(--button-grey));
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  border-radius: 34px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.change-quantity:hover {
  background-color: rgba(var(--button-grey-2));
}

@media (max-width: 1440px) {
  .change-quantity {
    position: relative;
    width: 28px;
    height: 28px;
    background-color: rgba(var(--bg-dark-2));
  }

  .change-quantity:hover {
    background-color: rgba(var(--bg-dark-2));
  }

  .quantity-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}