.bets-list-tabs-container {
  max-width: 410px;
  width: 100%;
  position: relative;
  height: 670px;
  overflow: hidden;
}

.stats-list-header {
  position: relative;
}

.stats-list-header-tabs {
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgba(var(--bg-dark-1));
}

.bets-list-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  min-height: 56px;
  padding: 12px;
  background-color: rgba(var(--bg-dark-3));
  border-radius: 8px;
}

.bets-list-footer__item {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.bets-list-footer__label {
  color: rgba(var(--text-disabled));
}

.bets-list-footer__value {
  color: rgba(var(--text-white));
}

.bets-list-footer__item:last-child {
  text-align: right;
}

.chart-container {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px
}